article {
  border: 1px solid transparent !important;
}

article:hover {
  border: 1px solid rgb(225, 0, 255) !important;
}
#t-1000-button {
  display: block;
  content: 'T-1000';
  font-size: 12px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  background:rgb(225, 0, 255);
  color: #fff;
  border: 0;
  padding: 2px 10px;
}
/* article:hover #t-1000-button {
  position: absolute;
  display: block;
  content: 'T-1000';
  font-size: 12px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  bottom: 0;
  right: 0;
  background:rgb(225, 0, 255);
  color: #fff;
  padding: 2px 10px;
} */

#t-1000-button:active {
  background:rgb(0, 107, 150);
}

