@keyframes spin
  from
    transform:rotate(0deg)
  to
    transform:rotate(360deg)

.key-available
  #api-form
    display: none

  .key-display
    display: flex
    justify-content: space-between

.key-display
  display: none

  p
    border: 2px solid #000
    padding: 5px
    line-height: 1em
    margin: 0
    width: 70%

  button
    width: 25%

#api-form
  width: 100%

  .inputs
    display: flex
    justify-content: space-between

  input
    width: 70%
    padding: 5px
    line-height: 1em
    font-weight: 600
    color: #000

  button#submit-button
    width: 25%

  .alert
    display: none

  &.error input
    border-color: $alert

    &::placeholder
      color: $alert

#content-area
  width: 100%
  height: 100%
  padding: 20px 0

  textarea
    resize: vertical
    &::placeholder
      color: #333
  .error
    .alert
      display: block;

  .alert
    display: none;
    background: $alert
    color: #fff

  p, textarea
    &.text-area-style
      height: 100%
      height: 200px
      border: 1px solid #000
      width: 100%
      font-weight: 600
      margin: 10px auto
      line-height: 1em
      padding: 5px
      font-size: 12px
      background: lighten(#b9f5ff, 70%)
      overflow: scroll

  button
    width: 100%
    background: #b9f5ff
    margin: 0;

    &#submit-button
      overflow: hidden

      span.spinner
        display: none
      &.spin
        span.text
          display: none
        span.spinner
          display: block
          animation-name: spin;
          animation-duration: 2000ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;

    &:hover
      color: #000
      background: #00ffa1a1

#result-area
  display: none

.result-available
  #content-form
    display: none
  #result-area
    display: block

#captured-text-button
  font-size: 12px
  text-align: left
  position: relative
  margin: 20px auto
  display: none
  width: 100%
  overflow: hidden
  background: #d5c7ff

  &.visible
    display: block

  &:hover
    color: #000
    background: darken(#d5c7ff, 10%)
    &:before
      content: "Click to add to text field"
      position: absolute
      display: block
      top: 100%
      padding: 10px 20px 10px 0
      left: 0
      color: #000;

#result-sentence
  font-size: 12px
  font-weight: 600